<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE class-cache PUBLIC '-//Hibernate/Hibernate Configuration DTD 3.0//EN' 'null'>

<class-cache>
    <hibernate-configuration> 

        <session-factory> 
            <property name="connection.url">jdbc:postgresql://localhost/postgres</property> 
            <property name="connection.driver_class">org.postgresql.Driver</property> 
            <property name="connection.username">postgres</property> 
            <property name="connection.password">2536</property> 
            <property name="connection.pool_size">1</property> 
            <property name="current_session_context_class">thread</property>
            <property name="show_sql">true</property> 
            <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> 

            <mapping resource="team5/datalayer/hibernate/maps/Addresses.hbm.xml"/> 
            <mapping resource="team5/datalayer/hibernate/maps/City.hbm.xml"/>
            <mapping resource="team5/datalayer/hibernate/maps/Country.hbm.xml"/>
            <mapping resource="team5/datalayer/hibernate/maps/PrivateInformation.hbm.xml"/>
            <mapping resource="team5/datalayer/hibernate/maps/ServiceInfo.xml"/>    

        </session-factory> 

    </hibernate-configuration>
</class-cache>
