/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.12.2015, 1:10:20
    Author     : Dmitry
*/
body {
    background-image: url("background.jpg");
    background-position: top;
}

h1 {
    position: absolute;
    
    left: 5%;
    color: black;
    font-size: 40pt;
    font-style: inherit;
}
h2 {
    position: absolute;   
    color: black;
    font-size: 80pt;
    font-style: italic;
    top: 110px;
    left: 10%;
}

form {
    position: absolute;    
    top: 110px;
    left: 10%;
}

#sendbutton {
    color: black;
    background-color: gold;
    text-shadow: -1px 1px yellow;
    border: none;
    font-size: 30pt;

}

